.colapsarPerguntas{
    display: flex;
    flex-direction: column;
}
.colapsarNiveis{
    display: flex;
    flex-direction: column;
}
.colapsar.hidden {
    opacity: 0;
    visibility: hidden;
  }
.esconder{
    display: none;
}
.pagina-criar-quizz{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;   
}
.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagina-criar-quizz :nth-child(1) > h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: roboto;
    line-height: 26.95px;
    font-size: 23px;
    margin-top: 70px;
}
.infos{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    width: 600px;
    height: 260px;
    align-items: center;
}
 input{
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
}
.infos :nth-child(1){
    margin-top: 21px;
}
.infos :nth-child(2){
    margin-top: 9px;
}
.infos :nth-child(3){
    margin-top: 9px;
}
.infos :nth-child(4){
    margin-top: 9px;
}
input::placeholder {
    font-weight: 400;
    font-family: roboto;
    font-size: 19px;
    color: #D1D1D1;
    font-style: italic;
    padding-left: 23px;
    border: 0px;
  }
  .prosseguir{
    margin: 81px 0px;
    background-color: #EC362D;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    border: 0px;
    color: white;
    font-family: roboto;
    font-size: 21px;
  }
  .pagina-criar-quizz :nth-child(2) > h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: roboto;
    line-height: 26.95px;
    font-size: 23px;
    margin-top: 70px;
  }
  .pagina-criar-quizz :nth-child(3) > h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: roboto;
    line-height: 26.95px;
    font-size: 23px;
    margin-top: 70px;
  }
.pergunta{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    width: 600px;
    height: auto;
    align-items: center;
}
.pergunta > p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 35px;
    font-family: roboto;
    font-weight: 700;
    line-height: 23.44px;
    font-size: 20px;
}
.pergunta > p > img{
    margin-right: 30px;
}
.colapsarPerguntas > p{
    width: 100%;
    font-family: roboto;
    font-weight: 700;
    line-height: 23.44px;
    font-size: 20px;
}
.pergunta :nth-child(2){
    margin-top: 14px;
}
.pergunta :nth-child(5){
    margin-top: 14px;
}
.pergunta :nth-child(8){
    margin-top: 14px;
}
.pergunta :nth-child(9){
    margin-top: 34px;
}
.pergunta :nth-child(10){
    margin-top: 14px;
}
.pergunta :nth-child(11){
    margin-top: 34px;
}
.pergunta :nth-child(12){
    margin-top: 14px;
    margin-bottom: 27px;
}
.nivel{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    width: 600px;
    height: auto;
    align-items: center;
}
.nivel > p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 35px;
    font-family: roboto;
    font-weight: 700;
    line-height: 23.44px;
    font-size: 20px; 
}
.nivel > p > img{
    margin-right: 30px;
}
.nivel :nth-child(2){
    margin-top: 14px;
}
.nivel :nth-child(3){
    margin-top: 14px;
}
.nivel :nth-child(4){
    margin-top: 14px;
    margin-bottom: 27px;
}
.prosseguir-finalizar{
    margin-top: 81px;
    background-color: #EC362D;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    border: 0px;
    color: white;
    font-family: roboto;
    font-size: 21px;
  }
  .finalizar>p{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-family: roboto;
    line-height: 26.95px;
    font-size: 23px;
    margin-top: 70px;
  }
.finalizar>img{
    height: 266px;
    width: 500px;
    object-fit: cover;
    position:relative;
    z-index: 0;
}
.finalizar>div{
    color: #818181;
    font-family: roboto;
    font-size: 21px;
    margin-top: 20px;
}
.finalizar>h3{
    position:fixed;
    font-weight: 400;
    font-family: roboto;
    line-height: 26.95px;
    font-size: 23px;
    color: white;
    top: 380px;
    left: 540px;
    z-index: 1;
}
