.img-quizz-topo {
    width: 1440px; /* width of container */
    height: 227px; /* height of container */
    object-fit: cover;
    z-index: 1;
   
    background: no-repeat;


}
.header-quizz{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-quizz span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    text-align: center;
    position: absolute;
    z-index: 4;
    color: #FFFFFF;
}
.container-quizz {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    justify-content: center;
    align-items: center;
}
.conteudo-quizz {
    box-sizing: border-box;
    width: 759px;
    background: #FFFFFF;
    padding: 30px;
    margin-bottom: 42px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta-quizz{
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pergunta-quizz p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.img-opcoes-quizz{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}
.opcoes{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 330px;
}
.opcoes p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-align: left;
    width: inherit;
    word-break: break-all;
    white-space: normal;
}
.opcoes img {
    width: inherit;
    height: auto;
}